/* ----- Field Structure ----- */
*{margin:0px; padding:0px;}
form ul{
	margin:0;
	padding:0;
	list-style:none;
}
* html form ul{ /* IE6 Margin Percent Bug for Halves/Thirds */
	width:99%;
	zoom:1;
}


* html form li{height: 1%;margin-bottom:-3px;}
*+html form li{height: 1%;margin-bottom:-3px;}
* html form li div{display:inline-block;}
*+html form ul, *+html form li div{display:inline-block;}

form li div{
	margin:0;
	padding:0;
	color:#444;
}
form li span{
	margin:0 .3em 0 0;
	padding:0;

	color:#444;
}
/* ----- Choices Field Structures ----- */

form li div span{
	margin:0;
	display:block;
	width:100%;
	float:left;
}
li.twoColumns div span{
	width:48%;
	margin:0 5px 0 0;
}
li.threeColumns div span{
	width:30%;
	margin:0 5px 0 0;
}
li.notStacked div span{
	width:auto;
	margin:0 7px 0 0;
}

/* ----- Location Field Structures ----- */

form li.complex{
	padding-bottom:0;
}
form li.complex div span{
	width:auto;
	margin:0 .1em 0 0;
	padding-bottom:12px;
}
form li.complex div span.full{
	margin:0;
}
form li.complex div span.left, 
form li.complex div span.right{
	margin:0;
	width:48%;
}
form li.complex div span.full input, 
form li.complex div span.full select, 
form li.complex div span.left input, 
form li.complex div span.right input,
form li.complex div span.left select,
form li.complex div span.right select{
	width:100%;
}

/* ----- FLOATS ----- */

.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both !important;
}

label span, .section span, p span, .likert span{
	display:inline !important;
	float:none !important;
}

/* ----- LABELS ----- */

form li div label, form li span label{
	margin:0;
	padding-top:3px;
	clear:both;
	font-size:85%;
	line-height:160%;
	color:#444;
	display:block;
}
fieldset{
	display:block;
	border:none;
	margin:0;
	padding:0;
	float:left;
}

label.desc, legend.desc{
	font-size:95%;
	font-weight:bold;
	color:#222;
	line-height:150%;
	margin:0;
	padding:0 0 2px 0;
	border:none;
	display:block;
	white-space: normal;
	width:100%;
}

label.choice{
	display:block;
	font-size:100%;
	margin:-17px 0 0 18px;
	padding:0 0 5px 0;
	color:#000;
	width:88%;
}
.safari label.choice{
	margin-top:-16px;
}
form.rightLabel .desc{
	padding-top:2px;
}

span.symbol{
	font-size:120%;
	line-height:135%;
}
form li .datepicker{
	float:left;
	margin:.19em 5px 0 0;
	padding:0;
	width: 16px;
	height: 16px;
	cursor:pointer !important;
}

/* ----- REQUIRED ----- */

form span.req{
	display:inline;
	float:none;
	color:red !important;
	font-weight:bold;
	margin:0;
	padding:0;
}

/* ----- MIN/MAX COUNT ----- */

form li div label var{
	font-weight:bold;
	font-style:normal;
}
form li div label .currently{
	display:none;
}

/* ----- FIELDS ----- */

input.text, input.search, input.file, textarea.textarea, select.select{
	font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
	font-size:100%;
	color:#333;
	margin:0;
	padding:2px 0;
}
input.text, input.search, textarea.textarea{
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	background:#fff url(../../media/images/fieldbg.gif) repeat-x top;
}

input.nospin::-webkit-inner-spin-button,
input.nospin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select.select{
	padding:1px 0 0 0;
}
input.search{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	padding-left:6px;
}
input.checkbox, input.radio{
	display:block;
	margin:4px 0 0 0;
	padding:0;
	width:13px;
	height:13px;
}
input.other{
	margin:0 0 8px 25px;
}

.safari select.select{
	font-size:120% !important;
	margin:0 0 1px 0;
}
* html select.select{
	margin:1px 0;
}
*+html select.select{
	margin:1px 0;
}

.center, 
form li span.center input.text, form li span.center label,
form li.name span label,
form li.date input.text, form li.date span label, 
form li.phone input.text, form li.phone span label,
form li.time input.text, form li.time span label{
	text-align:center;
}
form li.time select.select{
	margin-left:5px;
}
form li.price .right{
	text-align:right;
}

/* ----- SIZES ----- */

.third{
	width:32% !important;
}
.half{
	width:48% !important;
}
.full{
	width:100% !important;
}

input.small, select.small{
	width:25%;
}
input.medium, select.medium{
	width:50%;
}
input.large, select.large{
	width:100%;
}


/*.msie6 select.ieSelectFix{
	width:100%;
}*/
.msie[class] select.ieSelectFix{
	width:auto;
}
.msie[class] select.ieSelectFix.small{
	min-width:25%;
}
.msie[class] select.ieSelectFix.medium{
	min-width:50%;
}
.msie[class] select.ieSelectFix.large{
	width:100%;
}

textarea.textarea{
	width:293px;
	min-width:100%; /* IE8 Textarea Scroll Bug */
	max-width:100%;
}
textarea.small{
	height:5.5em;
}
textarea.medium{
	height:10em;
}
textarea.large{
	height:20em;
}

/* ----- FILES ----- */

li.file a{
	color:#222;text-decoration:none;
}
li.file span{
	display:inline;float:none;
}
li.file img{
	display:block;float:left;margin:0 0 0 -10px;padding:5px 5px 7px 5px;
}
li.file .file-size, li.file .file-type{
	color:#666;font-size:85%;text-transform: uppercase;
}
li.file .file-name{
	display:block;
	padding:14px 0 0 0;
	color:blue;
	text-decoration:underline;
}
li.file .file-delete{
	color:red !important;font-size:85%;text-decoration:underline;
}
li.file a:hover .file-name{
	color:green !important;
}
li.file a:hover .file-name{
	color:green !important;
}

/* ----- LIKERT SCALE ----- */

form li.likert{
	margin:0;
	padding:6px 1% 5px 1%;
	width:auto !important;
	clear:both !important;
	float:none !important;
}
.likert table{
	margin:0 0 .9em 0;
	background:#fff;
	width:100%;
	border:1px solid #dedede;
	border-bottom:none;
}
.likert caption{
	text-align:left;
	color:#222;
	font-size:95%;
	line-height:135%;
	padding:5px 0 .5em 0;
}
.likert input{
	padding:0;
	margin:2px 0;
}
.likert tbody td label{
	font-size:85%;
	display:block;
	color:#565656;
}

/* ----- Top Row ----- */

.likert thead td, .likert thead th{
	background-color:#e6e6e6;
}

/* ----- Right Side ----- */

.likert td{
	border-left:1px solid #ccc;
	text-align:center;
	padding:4px 6px;
}
.likert thead td{
	font-size:85%;
	padding:10px 6px;
}

/* ----- Body ----- */

.likert th, .likert td{
	border-bottom:1px solid #dedede;
}
.likert tbody th{
	padding:8px 8px;
	text-align:left;
}
.likert tbody th label{
	color:#222;
	font-size:95%;
	font-weight:bold;
}

.likert tbody tr.alt td, .likert tbody tr.alt th{
	background-color:#f5f5f5;
}
.likert tbody tr:hover td, .likert tbody tr:hover th{
	background-color:#FFFFCF;
}

/* ----- Likert Classes ----- */

.col1 td{width:30%;} 
.col2 td{width:25%;}
.col3 td{width:18%;}
.col4 td{width:14.5%;}
.col5 td{width:12%;}
.col6 td, .col7 td{width:10%;}
.col8 td, .col9 td, .col10 td{width:6.5%;}
.col11{width:6%;}

.hideNumbers tbody td label{
	display:none;
}

/* ----- BUTTONS ----- */

form li.buttons{
	width:auto !important;
	position:relative;
	clear:both;
	padding:0px 1% 0px 1%;
}
input.btTxt{
	padding:0 7px;
	width:auto;
	overflow:visible;
}
.safari input.btTxt{
	font-size:120%;
}
.buttons .marker{
	position:absolute;
	top:0;
	right:0;
	padding:15px 10px 0 0;
	color:#000;
	width:auto;
}
button.link{
	display:inline-block;
	border:none;

	background:none;
	color:blue;
	text-decoration:underline;
	cursor:pointer;
	padding:0;
	font-size:100%;
}
button.link:hover{
	color:green;
}

/* ----- LABEL LAYOUT ----- */

.leftLabel li, .rightLabel li{
	width:74% !important;
	padding-top:9px;
}
.leftLabel .desc, .rightLabel .desc{
	float:left;
	width:31%;
	margin:0 15px 0 0;
}
.rightLabel .desc{
	text-align:right;
}
.leftLabel li div, .rightLabel li div{
	float:left;
	width:65%;
}

* html .leftLabel li fieldset div, 
* html .rightLabel li fieldset div{
	float:right;
}
*+html .leftLabel li fieldset div, 
*+html .rightLabel li fieldset div{
	float:right;
}

.leftLabel .buttons, .rightLabel .buttons{
	padding-left:23%;
}
.leftLabel .buttons div, .rightLabel .buttons div{
	float:none;
	margin:0 0 0 20px;
}

.leftLabel p.instruct, .rightLabel p.instruct{
	width:28%;
	margin-left:5px;
}
.leftLabel .altInstruct .instruct, .rightLabel .altInstruct .instruct{
	margin-left:31% !important;
	padding-left:15px;
	width:65%;
}

/* ----- NO INSTRUCTIONS ----- */

.noI form li, .altInstruct form li{
	width:auto !important;
}

/* ----- NO INSTRUCTIONS LABEL LAYOUT ----- */

.noI .leftLabel .buttons, .noI .rightLabel .buttons{
	padding-left:31%;
}
.noI .leftLabel .buttons div, .noI .rightLabel .buttons div{
	margin:0 0 0 17px;
}

/* ----- HALVES AND THIRDS ----- */

form li.leftHalf, form li.rightHalf{
	width:47% !important;
}
form li.leftThird, form li.middleThird, form li.rightThird{
	width:30% !important;
}
form li.leftFourth, form li.middleFourth, form li.rightFourth{
	width: 23% !important;
	_width: 22% !important;
}
form li.leftFifth, form li.middleFifth, form li.rightFifth{
	width: 18% !important;
	_width: 17% !important;
}
form li.middleThird{
	clear:none !important;
	float:left;
	margin-left:2% !important;
}
form li.leftFourth, form li.middleFourth,
form li.leftFifth, form li.middleFifth {
	clear:none !important;
	float:left;
}
form li.rightHalf, form li.rightThird, form li.rightFourth, form li.rightFifth{
	clear:none !important;
	float:right;
}
li.leftHalf .small, li.rightHalf .small,
li.leftHalf .medium, li.rightHalf .medium,
li.leftThird .small, li.middleThird .small, li.rightThird .small,
li.leftThird .medium, li.middleThird .medium, li.rightThird .medium,
li.leftFourth .medium, li.middleFourth .medium, li.rightFourth .medium,
li.leftFourth .small, li.middleFourth .small, li.rightFourth .small,
li.leftFifth .medium, li.middleFifth .medium, li.rightFifth .medium,
li.leftFifth .small, li.middleFifth .small, li.rightFifth .small{
	width:100% !important;
}
form li.leftHalf, form li.leftThird, form li.leftFourth, form li.leftFifth{
	clear:left !important;
	float:left;
}

* html form li.middleFourth {
	margin-left: 1% !important;
}
* html form li.middleFifth {
	margin-left: 1% !important;
}

/* ----- INSTRUCTIONS ----- */

form li.focused{
	background-color:#fff7c0;
}
form .instruct{
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
	width:45%;
	margin:0 0 0 8px;
	padding:8px 10px 10px 10px;
	border:1px solid #e6e6e6;
	background:#f5f5f5;
	visibility:hidden;
	opacity:0;
	font-size:105%;
	-webkit-transition: opacity 350ms ease-out;
	   -moz-transition: opacity 350ms ease-out;
	     -o-transition: opacity 350ms ease-out;
	        transition: opacity 350ms ease-out;
}
form .instruct small{
	line-height:120%;
	font-size:80%;
	color:#444;
}
form li.focused .instruct, form li:hover .instruct{
	left:100%; /* Prevent scrollbars for IE Instruct fix */
	visibility:visible;
	opacity:1;
}




















#stage {
width:980px;
margin:0 auto;
padding:0;
}

#stage .lpanel {
    float: left;
    margin: 10px 0 0 0;
    padding: 0 0 0 6px;
    width: 466px;
}

#stage .lpanel h2 {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:28px;
line-height:31px;
color:#88dcfc;
margin:0;
}

#stage .lpanel .bullettext {
margin:0;
}

#stage .lpanel .bullettext ul {
margin:10px 0 0;
padding:0;
}

#stage .lpanel .bullettext ul li {
list-style:none;
display:block;
line-height:44px;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#FFF;
padding:0;
font-weight:700;
}
#stage .lpanel .bullettext ul li a{
list-style:none;
font-family:Arial, Helvetica, sans-serif;
color:#FFF;
padding:0;
text-decoration:underline;
}
.bullettext ul li img {
float:left;
padding:10px 8px 0 0;
}

.clearall {
clear:both;
}
.sep{float:left; background:#285a78; min-height:300px; max-height:auto; width:1px; margin:10px 0px 0px 10px;}
#form-wrap {
width:482px;
height:720px;
background:#5aa3bf;
float:right;
border:1px solid #5aa3bf;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
margin:10px 5px 20px 5px;
}

#ttform {
background:none;
width:100%;
color:#FFF;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
margin:0;
}

#ttform fieldset {
width:468px;
border:0;
float:left;
margin:0 0 0 14px;
padding:0;
}

#ttform fieldset div {
margin:5px 0;
}

#ttform fieldset span {
display:block;
float:left;
font-size:1.2em;
font-weight:700;
margin:0 2px 0 0;
}

#ttform fieldset .to {
display:block;
float:left;
font-size:1.2em;
font-weight:700;
margin:2px 10px 0 0;
}

#ttform fieldset p {
font-size:1.1em;
display:block;
line-height:1.5em;
margin:5px 0 2px;
}

#ttform fieldset .req {
color:#a30d0d;
float:left;
margin:0 2px 0 10px;
}

#ttform fieldset h2 {
font-family:Trebuchet MS, Arial;
font-size:24px;
font-weight:700;
color:#265265;
margin:0;
padding:10px 0px 0px 0px;
}

#ttform fieldset .labelone {
font-size:1.1em;
font-weight:700;
display:block;
line-height:1.5em;
width:200px;
}

#ttform fieldset .labell {
font-size:1.1em;
font-weight:700;
display:block;
line-height:1.5em;
width:180px;
margin:5px 0 2px 11px;
}

#ttform fieldset .read {
font-size:1.2em;
height:1.4em;
margin:0 0 5px;
padding:2px;
}

#ttform fieldset input.short {
width:198px;
display:inline;
float:left;
border:1px solid #92caed;
margin:0;
}

#ttform fieldset input.shorrt {
width:230px;
display:inline;
border:1px solid #92caed;
margin:0 0 0 10px;
}

#ttform fieldset input.big {
width:450px;
display:inline;
float:left;
border:1px solid #92caed;
margin:0;
}

#ttform fieldset textarea {
font:12px Verdana, sans-serif;
height:7em;
width:440px;
border:1px solid #bdbdbd;
color:#686969;
padding:2px;
}

.pt2 {
height:auto;
width:200px;
border:0;
float:left;
margin:0 5px 0 0;
padding:0;
}

.pt3 {
height:auto;
width:390px;
border:0;
float:left;
margin:0 10px 0 0;
padding:0;
}

.anonymous {
color:#FFF;
font-size:12px;
float:right;
width:200px;
margin:0px;
padding:0px 63px 0px 10px;
}


.gdb{
	width:630px;
	height:14px;
	margin:auto;
	margin-top:15px;
	}
.gdbbuttons{
	width:90px;
	height:16px;
	background-image:url(../../media/images/gdb1.png);
	float:left;
	background-repeat:repeat-y;
	padding:0px 0px 0px 0px;
	color:#000;
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normol;
	
	}
.gdbbuttons2{
	width:90px;
	height:16px;
	background-image:url(../../media/images/gdb2.png);
	float:left;
	background-repeat:repeat-y;
	padding:0px 0px 0px 0px;
	margin:auto;
	color:#000;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:left;
	}
.gdbbuttons3{
	width:90px;
	height:16px;
	background-image:url(../../media/images/gdb3.png);
	float:left;
	background-repeat:repeat-y;
	color:#000;
	font-weight:normal;
	padding:0px 0px 0px 0px;
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
    padding:left;
	}
.gdbbuttons4{
	width:90px;
	height:16px;
	background-image:url(../../media/images/gdb4.png);
	float:left;
	background-repeat:repeat-y;
	padding:0px 0px 0px 0px;
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	font-weight:normal;
    padding:left;
	}
.gdbbuttons5{
	width:90px;
	height:16px;
	background-image:url(../../media/images/gdb5.png);
	float:left;
	background-repeat:repeat-y;
	padding:0px 0px 0px 0px;
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000;
	padding:left;
	}
.gdbbuttons6{
	width:90px;
	height:16px;
	background-image:url(../../media/images/gdb6.png);
	float:left;
	background-repeat:repeat-y;
	padding:0px 0px 0px 0px;
	margin:auto;
	color:#000;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
    padding:left;
	}
.gdbbuttons7{
	width:90px;
	height:16px;
	background-image:url(../../media/images/gdb7.png);
	float:left;
	background-repeat:repeat-y;
	padding:0px 0px 0px 0px;
	margin:auto;
	color:#000;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
    padding:left;
	}
	
.imgdiv{
	width:500px;
	margin:auto;
	margin-left:5px;
	float:left;
	}
	
.imgtext{
	width:180px;
	margin:5px 2px 10px 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	padding:0;
	color:#00000;
	text-align:justify;
	float:right;
	}
.imgslide{
	width:200px;
	height:16px;
	background-image:url(../../media/images/slideimg.png);
	float:left;
	background-repeat:no-repeat;
	margin:8px 10px 0px 10px;
	}															

.colorbg img {
padding:8px 0 0 8px;
}

.formtext {
width:175px;
color:#FFF;
font-weight:700;
text-align:left;
float:left;
font-size:15px;
}

.formrtext {
width:260px;
color:#FFF;
font-weight:700;
text-align:left;
float:right;
font-size:15px;
}

.recaptchatable td img {
display:block;
}

.recaptchatable .recaptcha_r1_c1 {
background:url(http://www.google.com/recaptcha/api/img/red/sprite.png) 0 -63px no-repeat;
width:318px;
height:9px;
}

.recaptchatable .recaptcha_r2_c1 {
background:url(http://www.google.com/recaptcha/api/img/red/sprite.png) -18px 0 no-repeat;
width:9px;
height:57px;
}

.recaptchatable .recaptcha_r2_c2 {
background:url(http://www.google.com/recaptcha/api/img/red/sprite.png) -27px 0 no-repeat;
width:9px;
height:57px;
}

.recaptchatable .recaptcha_r3_c1 {
background:url(http://www.google.com/recaptcha/api/img/red/sprite.png) 0 0 no-repeat;
width:9px;
height:63px;
}

.recaptchatable .recaptcha_r3_c2 {
background:url(http://www.google.com/recaptcha/api/img/red/sprite.png) -18px -57px no-repeat;
width:300px;
height:6px;
}

.recaptchatable .recaptcha_r3_c3 {
background:url(http://www.google.com/recaptcha/api/img/red/sprite.png) -9px 0 no-repeat;
width:9px;
height:63px;
}

.recaptchatable .recaptcha_r4_c1 {
background:url(http://www.google.com/recaptcha/api/img/red/sprite.png) -43px 0 no-repeat;
width:171px;
height:49px;
}

.recaptchatable .recaptcha_r4_c2 {
background:url(http://www.google.com/recaptcha/api/img/red/sprite.png) -36px 0 no-repeat;
width:7px;
height:57px;
}

.recaptchatable .recaptcha_r4_c4 {
background:url(http://www.google.com/recaptcha/api/img/red/sprite.png) -214px 0 no-repeat;
width:97px;
height:57px;
}

.recaptchatable .recaptcha_r7_c1 {
background:url(http://www.google.com/recaptcha/api/img/red/sprite.png) -43px -49px no-repeat;
width:171px;
height:8px;
}

.recaptchatable .recaptcha_r8_c1 {
background:url(http://www.google.com/recaptcha/api/img/red/sprite.png) -43px -49px no-repeat;
width:25px;
height:8px;
}

.recaptchatable .recaptcha_image_cell {
background-color:#FFF;
height:57px;
}

#recaptcha_area,#recaptcha_table {
float:left;
width:318px;
padding:5px 0 0;
}

.recaptchatable,#recaptcha_area tr,#recaptcha_area td,#recaptcha_area th {
border:0;
border-collapse:collapse !important;
vertical-align:middle !important;
margin:0;
padding:0;
}

.recaptchatable * {
border:0;
font-family:helvetica,sans-serif;
font-size:8pt;
color:#000;
position:static;
top:auto;
left:43px;
right:auto;
bottom:auto;
text-align:left !important;
margin:0;
padding:0;
}
.retext{font-family:helvetica,sans-serif;
font-size:8pt;margin:0px; padding:0px 0px 0px 17px;}
.recaptchatable #recaptcha_image {
margin:auto;
}

.recaptchatable img {
border:0;
margin:0;
padding:0;
}

.recaptchatable a,.recaptchatable a:hover {
outline:none;
border:0;
text-decoration:none;
color:blue;
background:none !important;
font-weight:400;
padding:0;
}

.recaptcha_input_area {
position:relative !important;
width:146px;
height:45px;
margin-left:40px;
margin-right:5px;
margin-top:4px;
background:none !important;
}

.recaptchatable label.recaptcha_input_area_text {
position:static !important;
top:auto !important;

left:auto !important;
right:auto !important;
bottom:auto !important;
background:none !important;
height:auto !important;
width:auto !important;
margin:0;
padding:0;
}

.recaptcha_theme_red label.recaptcha_input_area_text,.recaptcha_theme_white label.recaptcha_input_area_text {
color:black !important;
}

.recaptcha_theme_blackglass label.recaptcha_input_area_text {
color:white !important;
}

.recaptchatable #recaptcha_response_field {
width:138px;
font-size:10pt;
margin:0 0 0 18px;
padding:0;
}

.recaptcha_theme_blackglass #recaptcha_response_field,.recaptcha_theme_white #recaptcha_response_field {
border:1px solid gray;
}

.recaptcha_theme_red #recaptcha_response_field {
border:1px solid #cca940;
}

.recaptcha_audio_cant_hear_link {
font-size:7pt;
color:#000;
}

.recaptchatable {
line-height:1em;
}

#recaptcha_instructions_error {
color:red !important;
}

.recaptcha_is_showing_audio .recaptcha_only_if_image,.recaptcha_isnot_showing_audio .recaptcha_only_if_audio,.recaptcha_had_incorrect_sol .recaptcha_only_if_no_incorrect_sol,.recaptcha_nothad_incorrect_sol .recaptcha_only_if_incorrect_sol {
display:none !important;
}

.agreements {
color:#FFF;
font-size:12px;
float:left;
width:250px;
line-height:33px;
margin:0;
padding:0;
}

.submit_btn {
background:url(../../media/images/submit_btn.gif) repeat-x;
height:30px;
color:#285a78;
width:68px;
text-align:center;
font-weight:700;
border:1px solid #6990b3;
/* Do rounding (native in Opera, Firefox and Safari) */
border-radius:6px;
-webkit-border-radius:6px;
-moz-border-radius:6px;
margin:0 0 0 194px;
padding:0;
}


.agree {
float:left;
margin:10px 0px 0px 0px;
padding:0;
}

.recaptchatable .recaptcha_image_cell center img,.recaptchatable .recaptcha_image_cell center {
height:57px;
}


.noborder{border:0px;}

/*Dash board*/

.log a{text-decoration:none;color:#FFF;}
.log a:hover{text-decoration:underline; color:#F96;}

#dashboard {
width:608px;
height:430px;
background:#ecf6fc;
float:left;
border:1px solid #5aa3bf;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
margin:5px 0 20px 10px;
}

.export {
    bottom: 27px;
    color: #35749A;
    display: block;
    float: right;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding: 0px 0px 0px 0px;
    position: relative;
    width: 100px;
}.export img{padding:0px 5px 0px 0px; }
/*charts*/
.chartstage{float:left; width:210px; padding:10px 0px 0px 0px}

.charts{width:665px; background:#FFF url(../../media/images/white_gr.gif) repeat-x bottom; border:1px solid #285a78; float:left; height:250px;border-radius:10px; padding-top:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
margin:0px;}

.chartbox{
	width:330px;
	height:220px;
	padding:0;
	margin:0;
	float:right;
}
.chartbox h4{
margin-top:50px;

}
.charts h2{ width:600px; color:#285a78; font-family:Arial, Helvetica, sans-serif; font-weight:bold; padding-left:5px; font-size:13px; padding:10px 0px 0px 10px; margin:0px ; font-size:13px; float:left;}

.charts h3{ width:200px; margin:0px 0px 0px 0px; padding:10px 0 0px 19px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold;color:#285a78; }
.charts img{text-align:center; padding:0px 0px 0px 20px; margin:0px;}


#dashdiv {
width:100%;
margin:0;
padding:0;
}



#maincontent{width:996px; margin:2px auto;   padding:0px 0px 0px 0px;}

.firstdiv{float:left; background:#ecf6fc; width:110px; margin:0px 0px 0px 0px; padding:0px 0px 10px 10px; border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;}
.firstdiv h3{margin:0px;  line-height:24px; font-size:12px; padding:10px 0px 0px 0px; color:#0075b7;}
.firstdiv img{float:left; padding:10px 10px 0 0;}
.firstdiv .favor {
margin:0;
}

.firstdiv .favor ul {
margin:0px;
padding:0;
}

.firstdiv .favor ul li {
list-style:none;
display:block;
line-height:30px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#333;
padding:0 ;
font-weight:normal;
}

.firstdiv .favor ul li a{
color:#333;
text-decoration:none;
}

.firstdiv .favor ul li a:hover{
color:#333;
text-decoration:none;
}

.firstdiv .favor ul li span.actv{
color:#333;
font-weight:bold;
background:#aed3e2;
padding:2px 3px;
}


/*pro*/
.prodiv{
	float:left;
	width:180px;
	margin:0px 0px 0px 0px;
	padding:0px;

}
.prodiv h3{margin:0px; padding:0px; line-height:24px; font-size:12px; padding:0px 0px 0px 0px; color:#ecf6fc;}
.prodiv img{float:left; padding:8px 10px 0 0;}
.prodiv .plinks {
margin:0;
}

.prodiv .plinks ul {
margin:0px 0 0;
padding:0;
}

.prodiv .plinks ul li {
list-style:none;
display:block;
line-height:30px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#48e3ff;
padding:0 0 0 0px;
padding:0;
font-weight:normal;
}
.prodiv .plinks ul li a{
line-height:30px;
color:#48e3ff;
padding:0 0 0 0px;
font-weight:normal;
text-decoration:none;
}
.prodiv .plinks ul li a:hover{
color:#FFF;
text-decoration:underline;
}
/*pro Ends*/
/*protable*/
#protab {
width:764px;
height:100%;
border:1px solid #5aa3bf;
padding:0px;
float:left;
}
#protab h2{margin:0px; padding:0px 0 0 0px; color:#285a78;}
/*protable Ends*/
/*profiles*/
#profiles {
width:730px;
margin:0px 0px 10px 7px;
padding:0px;
float:left;
}
#profiles h2{margin:0px; padding:0px 0 0 0px; color:#285a78;}
.profilepic{ width:100px; height:100px; margin:0px 0px 10px 0px; float:left;}

.profilepic2{background:#CCC; width:120px; height:120px; margin:10px 0px 5px 0px; float:right;}
.edittext{font-family:Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; width:100px; font-size:11px; text-align:center; color:#0668a2;}
.edittext a{font-family:Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; width:100px; font-size:11px; text-align:center;color:#60bbf1;}
.edittext a:hover{text-decoration:underline; color:#60bbf1;}
.edittext{font-family:Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; width:100px; font-size:11px; text-align:center; color:#0668a2;}
.profiletext{font-family:Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; width:100px; font-size:11px; text-align:center; color:#0668a2;}
.profiletext a{font-family:Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; width:100px; font-size:11px; text-align:center;color:#60bbf1;}
.profiletext a:hover{text-decoration:underline; color:#60bbf1;}

.info{float: left;
    height: 150px;
    margin: 0 10px 0 0;
    padding: 0 0 0 10px;
    width: 340px;} 
.info h3{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; padding:10px 0px 0px 0px; margin:0px;}
.info p{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;padding:5px 0px 0px 0px; margin:0px;}

.personal{float: left;
    margin: 0 10px 0 0;
    padding: 0 0 0 10px;
    width: 410px;} 
.personal h3{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; padding:10px 0px 0px 0px; margin:0px;}
.personal p{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;padding:5px 0px 0px 0px; margin:0px;}



.mail{color:#8e2906; font-size:12px;}
.innerdiv{width:98%; float:left; padding:10px 10px 0px 10px;}

.thirdiv{
    float: right;
    margin: 0px;
	padding:2px 0 0 0;
    width: 120px;}
.thirdiv img{margin:0px; padding:0px;}
.advertise{background: none repeat scroll 0 0 #CCCCCC;
    float: right;
    height: 243px;
    margin: 0px;
	padding:0px;
    width: 230px;}
.advertise img{margin:0px; padding:15px 0px 10px 10px;}

#dashmid {
width:580px;
height:425px;
background:#ecf6fc;
border:1px solid #5aa3bf;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
margin:0px 0px 0px 10px;
float:left;
}
#dashmid h2{margin:0px; padding:10px 0 0 10px; color:#285a78;}
.messagesstage{float:left; width:360px; padding:10px 0px 0px 10px}
.messagesdiv{width:350px; background:#FFF url(../../media/images/white_gr.gif) repeat-x bottom; border:1px solid #285a78; float:left; height:100px;border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
margin:0px 0 0px 0px; color:#5e5f60; font-size:12px;color:#5e5f60; }

.messagesdiv h2{color:#285a78; font-family:Arial, Helvetica, sans-serif; font-weight:bold; padding:10px 0px 0px 10px; margin:0px; font-size:13px; }

.messagesdiv .numbers{width:205px; float:left; padding:0px 0px 0px 10px;font-weight:bold; line-height:24px; margin:0px; }
.messagesdiv .numbers img{padding:0px 5px 0px 0px; line-height:24px;}


.messagee_second{width:350px; background:#FFF url(../../media/images/white_gr.gif) repeat-x bottom; border:1px solid #285a78; float:left; height:200px;border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
margin:10px 0 0px 0px; color:#5e5f60; font-size:12px;color:#5e5f60; }

.messagee_second h2{color:#285a78; font-family:Arial, Helvetica, sans-serif; font-weight:bold; padding:10px 0px 0px 10px; margin:0px; font-size:13px; }

.messagee_second .numbers{width:205px; float:left; padding:0px 0px 0px 10px;font-weight:bold; line-height:24px; margin:0px; }
.messagee_second .numbers img{padding:0px 5px 0px 0px; line-height:24px;}


.messagesdivv{width:665px; background:#FFF url(../../media/images/white_gr.gif) repeat-x bottom; border:1px solid #285a78; float:left; height:100px;border-radius:10px;
-webkit-border-radius:10px; padding-top:10px;
-moz-border-radius:10px;
margin:0px 0 0px 0px; color:#5e5f60; font-size:12px;color:#5e5f60; }

.messagesdivv h2{color:#285a78; font-family:Arial, Helvetica, sans-serif; font-weight:bold; padding:10px 0px 0px 10px; margin:0px; font-size:13px; }

.messagesdivv .nuumbers{width:281px; float:left; padding:0px 0px 0px 10px;font-weight:bold; line-height:24px; margin:10px 0 0 0; }
.messagesdivv .nuumbers img{padding:0px 5px 0px 0px; line-height:24px;}


.messaggee_second{width:625px; background:#FFF url(../../media/images/white_gr.gif) repeat-x bottom; border:1px solid #285a78; float:left;border-radius:10px;
-webkit-border-radius:10px; padding-bottom:10px; padding-top:10px;
-moz-border-radius:10px;
margin:10px 0 0px 0px; color:#5e5f60; font-size:12px;color:#5e5f60; }

.messaggee_second h2{color:#285a78; font-family:Arial, Helvetica, sans-serif; font-weight:bold; padding:10px 0px 0px 10px; margin:0px; font-size:13px; }

.messaggee_second .nnumbers{width:281px; float:left; padding:0px 0px 0px 10px;font-weight:bold; line-height:24px; margin:0px; }
.messaggee_second .nnumbers img{padding:0px 5px 0px 0px; line-height:24px;}

  
.chromestyle{
width: 15px;
font-weight: bold;
float:left;
margin:0px 0px 0px 0px;
padding:0px;
}

.chromestyle:after{ 
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul {
    float: right;
    margin: 0px 0px 0px 0px;
    padding: 0px 0;
    text-align: center;
    width: 71%;}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
color: #494949;
    margin: 3px 0px 0px 0px;
text-decoration: none;
}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #BBB;
border-bottom-width: 0;
font:normal 12px Arial;
line-height:24px;
z-index:100;
background-color: #FFF;
width: 130px;
visibility: hidden;
text-align:center;
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BBB; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #e2f2fb;
}

#pages {
width:580px;
height:100%;
background:#ecf6fc;
border:1px solid #5aa3bf;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
margin:0px 0px 0px 10px;
float:left;
}
#pages h2{margin:0px; padding:10px 0 0 0px; color:#285a78;}


/*daily trigger*/

.triggerdiv {
    background: url("../images/white_gr.gif") repeat-x scroll center bottom #FFFFFF;
    border: 1px solid #285A78;
    border-radius: 10px 10px 10px 10px;
    color: #5E5F60;
    float: left;
    font-size: 12px;
    height: 100%;
    margin: 0 0 10px 0;
    padding: 0 10px 10px;
    width: 539px;
}

.triggerdiv h2{color:#285a78; font-family:Arial, Helvetica, sans-serif; font-weight:bold; padding:10px 0px 0px 10px; margin:0px; font-size:13px; }

.triggerdiv .numbers{width:205px; float:left; padding:0px 0px 0px 10px;font-weight:bold; line-height:24px; margin:0px; }
.triggerdiv .numbers img{padding:0px 5px 0px 0px; line-height:24px;}
#colorband{width:650px; margin:0px; padding:0px;}
#colorband .green{background:#00cc00; width:128px; height:10px; float:left; margin:0px; padding:0px;}
#colorband .singlegreen{background:#00cc00; width:128px; height:10px; float:right; margin:0px; padding:0px;}

#colorband .blue{background:#0000ff; width:128px; height:10px; float:left; margin:0px; padding:0px;}
#colorband .yellow{background:#ffff00; width:128px; height:10px; float:left;  margin:0px; padding:0px;}
#colorband .red{background:#ff0000; width:128px; height:10px; float:left; margin:0px; padding:0px;}

.dailytriggertabs{width:685px; float:left;}
.dailytriggertabs_second{width:532px; float:left;}
.dailytriggertabs_third{width:528px; float:left;}

/*icons*/
.icons{float:right; width:80px;}
.icons img{padding:0px 5px 0px 0px;}
.ficons{float:right; width:50px;}
.nicons{float:right;}

.imgcapicons{float:left; width:30px;}
.ficons img{padding:0px 0px 0px 5px; float:right;}
.cicons img{padding:0px 0px 0px 5px; }

.jouricons{width:100px; float:right;}
.jouricons img{padding:0px 5px 0px 5px;}

.iconsda{float:left; width:200px;}
.iconsda img{padding:0px 5px 0px 0px;}

.socialicons{width:auto; float:right; margin-right:30px;}
.socialicons img{padding:0px 0px 0px 5px; float:left;}
.draicons{width:150px; float:left;}
.draicons img{padding:0px 0px 0px 5px; float:left;}
/*icons*/
.editr{float:right; font-weight:bold; text-align:right; width:200px;}
.editr img{float:right; padding-left:5px;}


.mlinks{padding:0px; margin:0px; line-height:
14px; color:#000; font-size:12px; width:300px;}
.mlinks img{padding:0px 10px 0px 0px; margin:0px;}
.mlinks a{font-size:14px; color:#000; line-height:24px; padding:0px 10px 0px 10px; text-decoration:none;}
.mlinks a:hover{font-size:14px; color: #036; line-height:24px;text-decoration:none;}
.mlinks a.active{color: #036; text-decoration:none; font-weight:bold;}

.dlinks{padding:0px; margin:0px; line-height:
12px; color:#000; font-size:12px; width:300px;}
.mlinks img{padding:0px 10px 0px 0px; margin:0px;}
.dlinks a{font-size:12px; color:#000; line-height:24px; padding:0px 5px 0px 0px; text-decoration:none;}
.dlinks a:hover{font-size:12px; color: #036; line-height:24px;text-decoration:none;}
.dlinks a.active{color: #036; text-decoration:none; font-weight:bold;}

.inr_btn {
background:url(../../media/images/inr_btn.gif) repeat-x;
height:24px;
border:1px solid #089dcb;
color:#FFF;
text-align:center;
margin:0;
padding:0 5px;
}

.inr_btn:hover {
background:url(../../media/images/login_btn_hover.gif) repeat-x;
height:24px;
border:1px solid #089dcb;
color:#FFF;
text-align:center;
margin:0 0 0 0;
padding:0 5px 0 5px;
}

.inr_btn:active {
background:url(../../media/images/login_btn_active.gif) repeat-x;
height:24px;
border:1px solid #089dcb;
color:#FFF;
text-align:center;
margin:0 0 0 0;
padding:0 5px 0 5px;
}

/* -------------------------------------------------------------
FORM
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.form { padding: 0; margin: 0; }
.form .field { width: 100%; float: left; }
.form .field_help { margin-left: 145px; font-size: 90%; color: #777; }
.form label, 
.form span.label { color: #444; margin-right: 10px; margin-top: 10px; padding-right: 10px; width: 80px; display: block; float: left;  font-weight: bold; text-align: right; position: relative; }
.form label em, 
.form span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
.form input:focus,
.form input.error:focus, 
.form textarea:focus {	background-color: #fff; }
.form .upload { margin-bottom: -5em;}


.form .buttonrow { float: left; margin-top: 1em; margin-bottom: 2.5em; margin-left: 145px; display: block; }
.form .cancel { font-size: 11px; color: #C00; padding-left: 10px; }
.form .field { margin-bottom: 1.5em; }
.form .uploader { margin-bottom: .5em !important; }
.form .field input, select,file,
.form .field textarea
{
	padding: 4px;
	margin-right: 1em;
	margin-top: 10px;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.form .phone_field input { margin-right: 0; }



.v_icon {
background:url(../../media/images/mike.gif) repeat-x;
height:16px;
width:16px;
border:none;
margin:0;
padding:0 5px;
}

.v_icon:hover,active {
background:url(../../media/images/mike2.gif) repeat-x;
height:16px;
padding:0 5px 0 5px;
}

.v_icon:click {
background:url(../../media/images/login_btn_active.gif) repeat-x;
height:16px;
margin:0 5px 0 0;
padding:0 5px 0 5px;
}

.v_icon:active {
background:url(../../media/images/login_btn_active.gif) repeat-x;
height:16px;
margin:0 5px 0 0;
padding:0 5px 0 5px;
}
.fromfile{
width:320px;
height:18px;
margin:0 0 15px 0;
}
.fromfiletextarea{
width:680px;
margin:0 0 15px 0;
}